
body {
	padding: 50px;
	background-color: #c76;
}

/* === === === リセットスタイル === === === */
.bl_npSuggestContainer {
	box-sizing: border-box;
	font-size: 14px;
	color: #545454;
	line-height: 1;
}

.bl_npSuggestContainer * {
	word-break: break-all; /* 文字の改行に関する禁則処理を解除してどこでも開業できるようにする */
	word-wrap: break-word; /* 必要に応じて単語の途中で改行 */
	-ms-overflow-style: none; /* IE でスクロールバーを表示しない */
	margin: 0;
	padding: 0;
	border:0;
	outline:0;
	box-sizing: border-box;
	font-family: sans-serif;
	vertical-align:baseline;
	background:transparent;
}

.bl_npSuggestContainer *::-webkit-scrollbar{
	width: 0;
	height: 0;
 }
.bl_npSuggestContainer a {
	color: #545454;
	text-decoration: none;
}


/* === === === モジュール === === === */

/* --- --- --- コンテナ --- --- --- */
.bl_npSuggestContainer {
	position: absolute;
	z-index: 1000;
	top: 33px; /* テキストボックスの高さに合わせる */
	display: flex;
	flex-direction: row; /* 商品詳細を下にしたい場合は column, 左にしたい場合は row-reverse */
	align-items: flex-start;
	width: 700px;
	/* width: 1400px; font-size: 30px; 検証用 */
	margin-top: 1px;
}
.bl_npSuggestContainer_searchboxComponent {
	max-width: 50%;
	margin: 0 1px;
	background-color: #fff;
}

.bl_npSuggestContainer_eventComponent {
	max-width: 50%;
	background-color: #fff;
}

@media screen and (max-width: 768px) {
	.bl_npSuggestContainer {
		flex-direction: column;
		max-width: 100%; /* 本当は 100vw */
	}
	.bl_npSuggestContainer_searchboxComponent {
		max-width: 100%;
		margin: 0;
	}
	.bl_npSuggestContainer_eventComponent {
		max-width: 100%;
	}
}

/* --- --- --- サジェスト --- ---- --- */
.bl_npSuggestKeywordList {
	border: 1px solid #d4d9dc;
}
.bl_npSuggestKeywordList_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_npSuggestKeywordList_header::after {
	content: 'サジェスト';
}
.bl_npSuggestKeywordList_body {
	/* height: calc(2em * 2); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_npSuggestKeywordList_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
}
.bl_npSuggestKeywordList_item:last-child {
	border-bottom: 0;
}
.bl_npSuggestKeywordList_item:focus,
.bl_npSuggestKeywordList_item:hover {
	background-color: #f5f5f5;
}
.bl_npSuggestKeywordList_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_npSuggestKeywordList_keyword {
	display: block;
	flex-grow: 1;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}

@media screen and (max-width: 768px) {
	.bl_npSuggestKeywordList {
		border: 0;
		margin-bottom: 1px;
	}
	.bl_npSuggestKeywordList_header {
		display: none;
	}
	.bl_npSuggestKeywordList_body {
		display: flex;
		justify-content: flex-start;
		padding: .5em;
	}
	.bl_npSuggestKeywordList_item {
		padding: .4em;
		border-radius: .25em;
		margin-right: .5em;
		border: 1px solid transparent;
		background-color: #d4d9dc;
	}
	.bl_npSuggestKeywordList_item:last-child {
		border-bottom: 1px solid transparent;
	}
	.bl_npSuggestKeywordList_item:focus,
	.bl_npSuggestKeywordList_item:hover {
		background-color: #fff;
		border-color: #d4d9dc;
	}
	.bl_npSuggestKeywordList_label {
		display: none;
	}
	.bl_npSuggestKeywordList_keyword {
		margin: 0;
	}
	.bl_npSuggestKeywordList_body::-webkit-scrollbar{
		width: 0;
		height: .3em;
	}
	.bl_npSuggestKeywordList_body::-webkit-scrollbar-track{
		border-radius: .5em;
		box-shadow: inset 0 0 2px #d4d9dc;
	}
	.bl_npSuggestKeywordList_body::-webkit-scrollbar-thumb{
		background: #666;
		border-radius: .5em;
		box-shadow: none;
	}
}

/* --- --- --- 検索履歴 --- ---- --- */
.bl_npSuggestHistoryList {
	border: 1px solid #d4d9dc;
}
.bl_npSuggestHistoryList_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_npSuggestHistoryList_header::after {
	content: '検索履歴'
}
.bl_npSuggestHistoryList_body {
	/* height: calc(2em * 2); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_npSuggestHistoryList_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
}
.bl_npSuggestHistoryList_item:last-child {
	border-bottom: 0;
}
.bl_npSuggestHistoryList_item:focus,
.bl_npSuggestHistoryList_item:hover {
	background-color: #f5f5f5;
}
.bl_npSuggestHistoryList_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_npSuggestHistoryList_keyword {
	display: block;
	flex-grow: 1;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}

@media screen and (max-width: 768px) {
	.bl_npSuggestHistoryList {
		display: none;
	}
}


/* --- --- --- ランキング --- --- --- */
.bl_npSuggestRankingList {
	border: 1px solid #d4d9dc;
	counter-reset: bl_npSuggestRankingList 0; /* 変数名と初期値を定義 */
}
.bl_npSuggestRankingList_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_npSuggestRankingList_header::after {
	content: 'ランキング';
}
.bl_npSuggestRankingList_body {
	/* height: calc(2em * 3); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_npSuggestRankingList_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
	counter-increment: bl_npSuggestRankingList; /* カウンタをインクリメント */
}
.bl_npSuggestRankingList_item:last-child {
	border-bottom: 0;
}
.bl_npSuggestRankingList_item:focus,
.bl_npSuggestRankingList_item:hover {
	background-color: #f5f5f5;
}
.bl_npSuggestRankingList_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_npSuggestRankingList_keyword {
	flex-grow: 1;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}
.bl_npSuggestRankingList_icon {
	font-weight: bold;
	color: #a9a9a9;
}
.bl_npSuggestRankingList_icon::before {
	content: counter(bl_npSuggestRankingList) '.';
}

@media screen and (max-width: 768px) {
	.bl_npSuggestRankingList {
		display: none;
	}
}

/* --- --- --- サジェスト商品詳細(カード) --- --- --- */
.bl_npSuggestItemList {
	border: 1px solid #d4d9dc;
}
.bl_npSuggestItemList_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
}
.bl_npSuggestItemList_header > span {
	margin: 0 .3em;
}
.bl_npSuggestItemList_body {
	padding: .5em 0 .5em .5em;
}
.bl_npSuggestItemList_body::after { /* スクロールの端はpaddingが効かないので、padding分の疑似要素を入れる */
	content: '';
	padding: .25em;
}
.bl_npSuggestItemList_body {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.bl_npSuggestItemList_item {
	display: block;
	flex: 0 0 7em;
	margin: 0 .5em 0 0;
	box-shadow: 1px 1px 2px 1px #d4d9dc;
}
.bl_npSuggestItemList_item:last-child {
	margin: 0;
}
.bl_npSuggestItemList_item:focus,
.bl_npSuggestItemList_item:hover {
	box-shadow: 2px 2px 3px 2px #d4d9dc;
}
.bl_npSuggestItemList_body::-webkit-scrollbar{
	width: 0;
	height: .3em;
}
.bl_npSuggestItemList_body::-webkit-scrollbar-track{
	border-radius: .5em;
	box-shadow: inset 0 0 2px #d4d9dc;
}
.bl_npSuggestItemList_body::-webkit-scrollbar-thumb{
	background: #666;
	border-radius: .5em;
	box-shadow: none;
}

/* --- --- --- サジェスト商品詳細(メディア) --- --- --- */
@media screen and (min-width: 768px) {
	.bl_npSuggestItemList__media .bl_npSuggestItemList_body {
		display: block;
		padding: .5em .5em 0 .5em;
		overflow-y: auto;
		max-height: 400px;
	}
	.bl_npSuggestItemList__media .bl_npSuggestItemList_item {
		display: flex;
		height: 6em;
		margin: 0 0 .5em 0;
	}
	.bl_npSuggestItemList_item:last-child {
		margin: 0;
	}
	.bl_npSuggestItemList__media .bl_npSuggestItemList_body::-webkit-scrollbar{
			width: .3em;
			height: 0;
	}
}

/* --- --- --- メディア --- --- --- */
.bl_npSuggestMedia {
	background-color: #fff;
}
@media screen and (min-width: 768px) {
	.bl_npSuggestMedia {
		display: flex;
		height: 6em;
	}
	.bl_npSuggestMedia_imgWrapper {
		position: relative;
		flex: 0 1 35%;
		overflow-y: hidden;
	}
	.bl_npSuggestMedia_imgWrapper > img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	.bl_npSuggestMedia_body {
		flex: 1;
		padding: .5em;
	}
	.bl_npSuggestMedia_ttl {
		max-height: 3em;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	.bl_npSuggestMedia_price {
		font-size: .8em;
	}
}

@media screen and (max-width: 768px) {
	.bl_npSuggestMedia {
		display: block;
	}
	.bl_npSuggestMedia_imgWrapper {
		position: relative;
		padding-top: 75%; /* widthに対しての割合 */
		overflow: hidden;
	}
	.bl_npSuggestMedia_imgWrapper > img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	.bl_npSuggestMedia_body {
		padding: .5em;
	}
	.bl_npSuggestMedia_ttl {
		font-size: .8em;
		max-height: 3em;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	.bl_npSuggestMedia_price {
		font-size: .6em;
	}
}

/* --- --- --- カード --- --- --- */
.bl_npSuggestCard {
	display: block;
	background-color: #fff;
}
.bl_npSuggestCard_imgWrapper {
	position: relative;
	padding-top: 75%; /* widthに対しての割合 */
	overflow: hidden;
}
.bl_npSuggestCard_imgWrapper > img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.bl_npSuggestCard_body {
	padding: .5em;
}
.bl_npSuggestCard_ttl {
	font-size: .8em;
	max-height: 3em;
	overflow-y: auto;
	margin-bottom: 1em;
}
.bl_npSuggestCard_price {
	font-size: .6em;
}

/* === === === エレメント === === === */

/* --- --- --- 太字 --- --- --- */
.el_bold {
	display: inline-block;
	font-weight: bold;
}

/* -- --- --- hitnum --- --- --- */
.el_npSuggestHitnumLabel {
	font-size: .75em;
	color: #666;
}

/* --- --- --- ラベル --- --- --- */
.el_npSuggestCategoryLabel {
	display: inline-block;
	padding: .3em .7em;
	background-color: #d4d9dc;
	border-radius: .3em;
	color: #666;
	font-size: .75em;
}

/* --- --- --- 削除ボタン --- --- --- */
.el_npSuggestCrossBtn {
	position: relative;
	display: inline-block;
	padding: .7em;
	border-radius: .7em;
	background-color: #d3d6dd;
	color: #666;
	cursor: pointer;
	transition: .25s;
}
.el_npSuggestCrossBtn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: .8em;
	height: .1em;
	background-color: currentColor;
	transform: translate(-50%, -50%) rotate(45deg);
}
.el_npSuggestCrossBtn::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: .1em;
	height: .8em;
	background-color: currentColor;
	transform: translate(-50%, -50%) rotate(45deg);
}
.el_npSuggestCrossBtn:focus,
.el_npSuggestCrossBtn:hover {
	background-color: #ff4500;
	color: #fff;
}

/* --- --- --- 王冠マーク --- --- --- */
.el_npSuggestCrownIcon {
	display: inline-block;
	position: relative;
	padding: .5em;
}
.el_npSuggestCrownIcon::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 0;
	height: 0;
	border-top: 0;
	border-right: .5em solid transparent;
	border-bottom: .9em solid #fb0;
	border-left: .5em solid transparent;
	transform: translateX(-50%);
}
.el_npSuggestCrownIcon::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 0;
	height: 0;
	border-top: .3em solid transparent;
	border-right: .5em solid #fb0;
	border-bottom: .4em solid #f90;
	border-left: .5em solid #fb0;
	transform: translateX(-50%);
}

/* --- --- --- 王冠マーク(シルバー) --- --- --- */
.el_npSuggestCrownIcon.el_npSuggestCrownIcon__silver::before {
	border-bottom-color: #ccc;
}
.el_npSuggestCrownIcon.el_npSuggestCrownIcon__silver::after {
	border-color: #ccc;
	border-top-color: transparent;
	border-bottom-color: #aaa;
}

/* --- --- --- 王冠マーク(ブロンズ) --- --- --- */
.el_npSuggestCrownIcon.el_npSuggestCrownIcon__bronze::before {
	border-bottom-color: #d98;
}
.el_npSuggestCrownIcon.el_npSuggestCrownIcon__bronze::after {
	border-color: #d98;
	border-top-color: transparent;
	border-bottom-color: #c76;
}
