
body {
	padding: 50px;
}

/* === === === リセットスタイル === === === */
.bl_suggestContainer * {
	word-break: break-all; /* 文字の改行に関する禁則処理を解除してどこでも開業できるようにする */
	word-wrap: break-word; /* 必要に応じて単語の途中で改行 */
	-ms-overflow-style: none; /* IE, Edge でスクロールバーを表示しない */
}
.bl_suggestContainer *::-webkit-scrollbar{
	width: 0;
	height: 0;
 }
.bl_suggestContainer a {
	font-size: 14px;
	color: #545454;
	text-decoration: none;
}


/* === === === モジュール === === === */

/* --- --- --- コンテナ --- --- --- */
.bl_suggestContainer {
	display: flex;
	flex-direction: row; /* 商品詳細を下にしたい場合は column, 左にしたい場合は row-reverse */
	width: 700px;
	font-size: 14px;
	/*
	width: 1400px;
	font-size: 30px;
	*/
	color: #545454;
	line-height: 1;
	font-family: sans-serif;
	box-sizing: border-box;
	margin-top: 1px;
}
.bl_suggestContainer_keyword {
	width: 50%;
	margin: 0 1px;
}

.bl_suggestContainer_item {
	width: 50%;
}

@media screen and (max-width: 768px) {
	.bl_suggestContainer {
		flex-direction: column;
		width: 100%; /* 本当は 100vw */
	}
	.bl_suggestContainer_keyword {
		width: 100%;
		margin: 0;
	}
	.bl_suggestContainer_item {
		width: 100%;
	}
}

/* --- --- --- サジェスト --- ---- --- */
.bl_suggest {
	border: 1px solid #d4d9dc;
}
.bl_suggest_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_suggest_body {
	/* height: calc(2em * 2); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_suggest_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
}
.bl_suggest_item:last-child {
	border-bottom: 0;
}
.bl_suggest_item:focus,
.bl_suggest_item:hover {
	background-color: #f5f5f5;
}
.bl_suggest_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_suggest_keyword {
	display: block;
	flex-grow: 1;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}

@media screen and (max-width: 768px) {
	.bl_suggest {
		border: 0;
		margin-bottom: 1px;
	}
	.bl_suggest_header {
		display: none;
	}
	.bl_suggest_body {
		display: flex;
		justify-content: flex-start;
		padding: .5em;
	}
	.bl_suggest_item {
		padding: .4em;
		border-radius: .25em;
		margin-right: .5em;
		border: 1px solid transparent;
		background-color: #d4d9dc;
	}
	.bl_suggest_item:last-child {
		border-bottom: 1px solid transparent;
	}
	.bl_suggest_item:focus,
	.bl_suggest_item:hover {
		background-color: #fff;
		border-color: #d4d9dc;
	}
	.bl_suggest_label {
		display: none;
	}
	.bl_suggest_keyword {
		margin: 0;
	}
	.bl_suggest_body::-webkit-scrollbar{
		width: 0;
		height: .3em;
	}
	.bl_suggest_body::-webkit-scrollbar-track{
		border-radius: .5em;
		box-shadow: inset 0 0 2px #d4d9dc;
	}
	.bl_suggest_body::-webkit-scrollbar-thumb{
		background: #666;
		border-radius: .5em;
		box-shadow: none;
	}
}

/* --- --- --- 検索履歴 --- ---- --- */
.bl_history {
	border: 1px solid #d4d9dc;
}
.bl_history_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_history_body {
	/* height: calc(2em * 2); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_history_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
}
.bl_history_item:last-child {
	border-bottom: 0;
}
.bl_history_item:focus,
.bl_history_item:hover {
	background-color: #f5f5f5;
}
.bl_history_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_history_keyword {
	display: block;
	flex-grow: 1;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}

@media screen and (max-width: 768px) {
	.bl_history {
		display: none;
	}
}


/* --- --- --- ランキング --- --- --- */
.bl_rank {
	border: 1px solid #d4d9dc;
	counter-reset: bl_rank 0; /* 変数名と初期値を定義 */
}
.bl_rank_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
	font-weight: bold;
}
.bl_rank_body {
	/* height: calc(2em * 3); */
	padding: 0 .3em;
	overflow-y: auto;
}
.bl_rank_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #d4d9dc;
	padding: .4em;
	cursor: pointer;
	counter-increment: bl_rank; /* カウンタをインクリメント */
}
.bl_rank_item:last-child {
	border-bottom: 0;
}
.bl_rank_item:focus,
.bl_rank_item:hover {
	background-color: #f5f5f5;
}
.bl_rank_label {
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: .5em;
}
.bl_rank_keyword {
	flex-grow: 1;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	margin-right: 1em;
}
.bl_rankIcon {
	font-weight: bold;
	color: #a9a9a9;
}
.bl_rankIcon::before {
	content: counter(bl_rank) '.';
}

@media screen and (max-width: 768px) {
	.bl_rank {
		display: none;
	}
}

/* --- --- --- サジェスト商品詳細(カード) --- --- --- */
.bl_suggestItem {
	border: 1px solid #d4d9dc;
}
.bl_suggestItem_header {
	font-size: 0.75em;
	padding: .5em;
	background-color: #d4d9dc;
}
.bl_suggestItem_header > span {
	margin: 0 .3em;
}
.bl_suggestItem_body {
	padding: .5em 0 .5em .5em;
}
.bl_suggestItem_body::after { /* スクロールの端はpaddingが効かないので、padding分の疑似要素を入れる */
	content: '';
	padding: .25em;
}
.bl_suggestItem_body {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
.bl_suggestItem_item {
	display: block;
	flex: 0 0 7em;
	margin: 0 .5em 0 0;
	box-shadow: 1px 1px 2px 1px #d4d9dc;
}
.bl_suggestItem_item:last-child {
	margin: 0;
}
.bl_suggestItem_item:focus,
.bl_suggestItem_item:hover {
	box-shadow: 2px 2px 3px 2px #d4d9dc;
}
.bl_suggestItem_body::-webkit-scrollbar{
	width: 0;
	height: .3em;
}
.bl_suggestItem_body::-webkit-scrollbar-track{
	border-radius: .5em;
	box-shadow: inset 0 0 2px #d4d9dc;
}
.bl_suggestItem_body::-webkit-scrollbar-thumb{
	background: #666;
	border-radius: .5em;
	box-shadow: none;
}

/* --- --- --- サジェスト商品詳細(メディア) --- --- --- */
@media screen and (min-width: 768px) {
	.bl_suggestItem__media .bl_suggestItem_body {
		display: block;
		padding: .5em .5em 0 .5em;
		overflow-y: auto;
		max-height: 400px;
	}
	.bl_suggestItem__media .bl_suggestItem_item {
		display: flex;
		height: 6em;
		margin: 0 0 .5em 0;
	}
	.bl_suggestItem_item:last-child {
		margin: 0;
	}
	.bl_suggestItem__media .bl_suggestItem_body::-webkit-scrollbar{
			width: .3em;
			height: 0;
	}
}

/* --- --- --- メディア --- --- --- */
@media screen and (min-width: 768px) {
	.bl_media {
		display: flex;
		height: 6em;
	}
	.bl_media_imgWrapper {
		position: relative;
		flex: 0 1 35%;
		overflow-y: hidden;
	}
	.bl_media_imgWrapper > img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	.bl_media_body {
		flex: 1;
		padding: .5em;
	}
	.bl_media_ttl {
		max-height: 3em;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	.bl_media_price {
		font-size: .8em;
	}
}

@media screen and (max-width: 768px) {
	.bl_media {
		display: block;
	}
	.bl_media_imgWrapper {
		position: relative;
		padding-top: 75%; /* widthに対しての割合 */
		overflow: hidden;
	}
	.bl_media_imgWrapper > img {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}
	.bl_media_body {
		padding: .5em;
	}
	.bl_media_ttl {
		font-size: .8em;
		max-height: 3em;
		overflow-y: auto;
		margin-bottom: 1em;
	}
	.bl_media_price {
		font-size: .6em;
	}
}

/* --- --- --- カード --- --- --- */
.bl_card {
	display: block;
}
.bl_card_imgWrapper {
	position: relative;
	padding-top: 75%; /* widthに対しての割合 */
	overflow: hidden;
}
.bl_card_imgWrapper > img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.bl_card_body {
	padding: .5em;
}
.bl_card_ttl {
	font-size: .8em;
	max-height: 3em;
	overflow-y: auto;
	margin-bottom: 1em;
}
.bl_card_price {
	font-size: .6em;
}

/* === === === エレメント === === === */

/* --- --- --- 太字 --- --- --- */
.el_bold {
	display: inline-block;
	font-weight: bold;
}

/* -- --- --- hitnum --- --- --- */
.el_hitnum {
	font-size: .75em;
	color: #666;
}

/* --- --- --- ラベル --- --- --- */
.el_label {
	display: inline-block;
	padding: .3em .7em;
	background-color: #d4d9dc;
	border-radius: .3em;
	color: #666;
	font-size: .75em;
}

/* --- --- --- 削除ボタン --- --- --- */
.el_crossBtn {
	position: relative;
	display: inline-block;
	padding: .7em;
	border-radius: .7em;
	background-color: #d3d6dd;
	color: #666;
	cursor: pointer;
	transition: .25s;
}
.el_crossBtn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: .8em;
	height: .1em;
	background-color: currentColor;
	transform: translate(-50%, -50%) rotate(45deg);
}
.el_crossBtn::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: .1em;
	height: .8em;
	background-color: currentColor;
	transform: translate(-50%, -50%) rotate(45deg);
}
.el_crossBtn:focus,
.el_crossBtn:hover {
	background-color: #ff4500;
	color: #fff;
}

/* --- --- --- 王冠マーク --- --- --- */
.el_crownIcon {
	display: inline-block;
	position: relative;
	padding: .5em;
}
.el_crownIcon::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 0;
	height: 0;
	border-top: 0;
	border-right: .5em solid transparent;
	border-bottom: .9em solid #fb0;
	border-left: .5em solid transparent;
	transform: translateX(-50%);
}
.el_crownIcon::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 10%;
	width: 0;
	height: 0;
	border-top: .3em solid transparent;
	border-right: .5em solid #fb0;
	border-bottom: .4em solid #f90;
	border-left: .5em solid #fb0;
	transform: translateX(-50%);
}

/* --- --- --- 王冠マーク(シルバー) --- --- --- */
.el_crownIcon.el_crownIcon__silver::before {
	border-bottom-color: #ccc;
}
.el_crownIcon.el_crownIcon__silver::after {
	border-color: #ccc;
	border-top-color: transparent;
	border-bottom-color: #aaa;
}

/* --- --- --- 王冠マーク(ブロンズ) --- --- --- */
.el_crownIcon.el_crownIcon__bronze::before {
	border-bottom-color: #d98;
}
.el_crownIcon.el_crownIcon__bronze::after {
	border-color: #d98;
	border-top-color: transparent;
	border-bottom-color: #c76;
}
